---
interface Props {
title : string;  
}
const {title} = Astro.props;
---
<a href="https://x.com/DavidGa3747666" target="_blank" class="border text-base rounded-md px-3 py-1 bg-gradient-to-b from-orange-500 to-amber-300">{title}</a>