 <header
  class="justify-between mx-auto h-16 py-10 px-6 items-center flex w-full max-w-[90dvw] lg:max-w-[50dvw] bg-[#37104d] bg-opacity-50 font-bold fixed top-3 rounded-full backdrop-blur-md z-50"
>
  <div class="flex gap-4 items-center">
    <img src="/public/img/Me_Smile_Icon_.png" alt="icon" class="aspect-square rounded-full size-12 border border-[--accent] border-double" />
    <div class="gap-8">
      <h1>Dax</h1>
      <h3 class="bg-gradient-to-r from-[--primary] via-[--primary] to-[--accent] bg-clip-text text-transparent">Fronted Developer</h3>
    </div>
  </div>

  <nav
    class="gap-8 justify-between items-center flex"
  >
    <a class="text-sm text-[--primary] font-extralight" href="#">Home</a>
    <a class="text-sm text-[--primary] font-extralight" href="/about">Mas</a>
    <a class="text-sm text-[--primary] font-extralight" href="/Projects">Proyectos</a>
  </nav>
</header>
