<header class="justify-between items-center flex w-full bg-zinc-900 font-bold fixed top-0 p-0">
  <div class="container max-w-screen-2xl mx-auto justify-between items-center flex p-3 pl-10 pr-10">
  <nav class="gap-10 flex ">
    <a  href="#">Home</a>
    <a  href="/about">Mas...</a>
    <a  href="/Projects">Proyectos</a>
    <a  href="/contact">Contacto</a>
  </nav>
  <span>Dax</span>
</div>
</header>

